<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove any machine-wide sources with <clear/> -->
    <clear />
    <add key="Utilities@Local" value="https://pkgs.dev.azure.com/candoumbe/_packaging/Utilities@Local/nuget/v3/index.json" />
    <add key="Queries@Local" value="https://pkgs.dev.azure.com/candoumbe/_packaging/Queries@Local/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>